<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="main-content">
          <h1 class="name">
            Luciano Otoni Milen
          </h1>
          <h5 class="profession">
            FrontEnd Web Developer
          </h5>
          <h6 class="education">
            Information Systems BsC @ Universidade Federal de Minas Gerais
          </h6>
            <ul class="list-unstyled inline">
              <li>
                Angular (1 & 4)
              </li>
              <li>HTML5</li>
              <li>SASS & LESS</li>
              <li>Javascript</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <ul class="list-unstyled inline">
          <li>
            <a href="http://lattes.cnpq.br/5977326332118885">Lattes</a>
          </li>
          <li>
            <a href="~lucianomilen/CV_clean.pdf" download>Curriculum Vitae</a>
          </li>
        </ul>
        <div class="contact">
          <a href="mailto:lucianomilen@dcc.ufmg.br"><i>lucianomilen@dcc.ufmg.br</i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
